/*
 Theme Name: Playbooks by Concentrated Wisdom
 Theme URI: https://concentratedwisdom.com
 Description: Playbooks by Concentrated Wisdom
 Author: Concentrated Wisdom
 Template: hello-elementor
 Version: 1.0.0
*/
