@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom overrides */
.prose-content p {
  @apply mb-6 leading-8 text-ui-text text-lg;
}

.prose-content h2 {
  @apply font-serif text-brand-dark text-2xl font-bold mt-12 mb-4;
}

.rank-ribbon {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
}
